<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.basic.modules.email.dao.EmailConfigDao" >

  <sql id="Base_Column_List" >
    id, email_code, send_info, receiverList, subject, type_model, email_model, email_flag,
    del_flag, create_date, create_user_id, last_update_date, last_update_user_id, revision
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.yryz.basic.modules.email.vo.EmailConfigVo" >
    select 
    <include refid="Base_Column_List" />
    from basic_email_config
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByConditions" parameterType="com.yryz.basic.modules.email.dto.EmailConfigDto"
          resultType="com.yryz.basic.modules.email.vo.EmailConfigVo">
    select
    <include refid="Base_Column_List" />
    from basic_email_config
    where del_flag = 0
    <if test="emailCode != null and emailCode != ''">
      and email_code = #{emailCode,jdbcType=VARCHAR}
    </if>
    order by create_date desc, id desc
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  parameterType="com.yryz.basic.modules.email.entity.EmailConfig" >
    insert into basic_email_config (email_code, receiverList, subject,
      type_model, email_model, email_flag, create_user_id,
      last_update_user_id, revision,
      send_info)
    values (#{emailCode,jdbcType=VARCHAR}, #{receiverlist,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR},
      #{typeModel,jdbcType=VARCHAR}, #{emailModel,jdbcType=VARCHAR}, #{emailFlag,jdbcType=TINYINT}, 
      #{createUserId,jdbcType=VARCHAR}, #{lastUpdateUserId,jdbcType=VARCHAR}, #{revision,jdbcType=INTEGER},
      #{sendInfo,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yryz.basic.modules.email.entity.EmailConfig" >
    update basic_email_config
    <set >
      <if test="emailCode != null" >
        email_code = #{emailCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverlist != null" >
        receiverList = #{receiverlist,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="typeModel != null" >
        type_model = #{typeModel,jdbcType=VARCHAR},
      </if>
      <if test="emailModel != null" >
        email_model = #{emailModel,jdbcType=VARCHAR},
      </if>
      <if test="emailFlag != null" >
        email_flag = #{emailFlag,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null" >
        last_update_user_id = #{lastUpdateUserId,jdbcType=VARCHAR},
      </if>
      <if test="revision != null" >
        revision = #{revision,jdbcType=INTEGER},
      </if>
      <if test="sendInfo != null" >
        send_info = #{sendInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>